.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
}
ul.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

li:hover {
  font-weight: bolder;
  cursor: pointer;
}

.viewSelector {
  margin: 15px 15px 0 0;
  align-self: flex-end;
}

li {
  padding: 5px 0 5px 0;
}

@media only screen and (max-device-width: 480px){
  li {
    display: inline-block;
    flex: 0 1 100%;
  }
}
@media only screen and (min-device-width: 480px){
  li {
    display: inline-block;
    flex: 0 1 50%;
  }
}

@media only screen and (min-device-width: 768px){
  li {
    display: inline-block;
    flex: 0 1 33%;
  }
}

@media only screen and (min-device-width: 1024px){
  li {
    display: inline-block;
    flex: 0 1 25%;
  }
}
